{% extends 'base.html.twig' %}

{% block title %} Semestre{% endblock %}

{% block body %}
    <h1>Modification Semestre</h1>

    {{ include('semestre/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('semestre_index') }}">Retour </a>

    {{ include('semestre/_delete_form.html.twig') }}
{% endblock %}
