{% extends 'base.html.twig' %}

{% block title %}Semestre {% endblock %}

{% block body %}
    <h1> Liste des Semestre </h1>

    <table class="table">
        <thead>
            <tr>
                <th>NumeroSemestre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for semestre in semestres %}
            <tr>
                <td>{{ semestre.numeroSemestre }}</td>
                <td>
                    <a href="{{ path('semestre_show', {'id': semestre.id}) }}">Lire la suite</a>
                    <a href="{{ path('semestre_edit', {'id': semestre.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Liste vide </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
