{% extends 'base.html.twig' %}

{% block title %}Nouveau Semestre{% endblock %}

{% block body %}
    <h1>Nouveau Semestre</h1>

    {{ include('semestre/_form.html.twig') }}

    <a href="{{ path('semestre_index') }}">Retour </a>
{% endblock %}
