{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="form-row align-items-end" >
        <div class="col">

        </div>

    {{ form_end(form) }}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h6>Bienvenue :  {{ app.user }}</h6>
</div>
{% endblock %}
