{% extends 'base.html.twig' %}

{% block title %}Modifier Matiere{% endblock %}

{% block body %}
    <h1>Modifier Matiere</h1>

    {{ include('matiere/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('matiere/_delete_form.html.twig') }}
{% endblock %}
