{% extends 'base.html.twig' %}

{% block title %}Inscription index{% endblock %}

{% block body %}
    <h1 align="center"> Lieste des Etudiants </h1>
    <div >
        <h6>Bienvenue :  {{ app.user }}</h6>
    </div>

    {{ form_start(form) }}
    <div class="form-row align-items-end" >
        <div class="col">
        </div>

        <div class="col">
            <div class="form-group">
                <button type="submit" class="btn btn-success">Rechercher</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}



    <p>
        Aucun Etudiant Ajacs
    </p>

    <a href="{{ path('inscription_new') }}">Create new</a>


{% endblock %}
