{% extends 'base.html.twig' %}

{% block title %}Nouvelle Inscription{% endblock %}

{% block body %}
   <fieldset>
       <div align="center" > <h1>Fiche d'Inscription</h1></div><br>
       <div >
           {{ include('inscription/_form.html.twig') }}

           <a href="{{ path('inscription_index') }}">Retour Acceuil</a>
       </div>
   </fieldset>


{% endblock %}
