{% extends 'base.html.twig' %}

{% block title %}New Inscription{% endblock %}

{% block body %}
   <div align="center"> <h1>Fiche d'Inscription</h1></div>
    <div>
        {{ include('inscription/_form.html.twig') }}

        <a href="{{ path('inscription_index') }}">back to list</a>
    </div>


{% endblock %}
