<div class="mdc-card">
    <div class="mdc-card__primary-action" tabindex="0"
         onclick="location.href='{{ path('inscription_show',{'id' : inscription.id}) }}'">
        <table>
            <tbody>
            <th colspan="4">{{ inscription.nom }}</th>
            <th rowspan="5">{{ inscription.prenom }}</th>

            </tbody>

        </table>




    </div>

</div>