{% extends 'base.html.twig' %}

{% block title %}Fiche pedagogique{% endblock %}

{% block body %}
    <h1 align="center">Nouveau statut</h1>
    <br><br><br>

    {{ include('validation/_form.html.twig') }}

{% endblock %}
